CREATE DATABASE Edi301

USE [Edi301]
GO
CREATE TABLE [dbo].[Agenda_Actividades](
	[id_actividad] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](150) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
	[fecha_evento] [date] NOT NULL,
	[hora_evento] [time](7) NULL,
	[imagen] [nvarchar](255) NULL,
	[estado_publicacion] [nvarchar](50) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[activo] [bit] NOT NULL,
	[notificacion_enviada] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_actividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cat_Estados]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cat_Estados](
	[id_cat_estado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
	[activo] [bit] NULL,
	[color] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cat_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Provision]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Provision](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_provision] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[asistio] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados_Alumno]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados_Alumno](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NOT NULL,
	[tipo_estado] [nvarchar](50) NOT NULL,
	[fecha_inicio] [datetime] NOT NULL,
	[fecha_fin] [datetime] NULL,
	[activo] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[id_cat_estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Familias_EDI]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Familias_EDI](
	[id_familia] [int] IDENTITY(1,1) NOT NULL,
	[nombre_familia] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[papa_id] [int] NULL,
	[mama_id] [int] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[activo] [bit] NOT NULL,
	[residencia] [nvarchar](250) NOT NULL,
	[direccion] [nvarchar](200) NULL,
	[foto_portada_url] [nvarchar](max) NULL,
	[foto_perfil_url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fotos_Publicacion]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fotos_Publicacion](
	[id_foto] [int] IDENTITY(1,1) NOT NULL,
	[id_post] [int] NOT NULL,
	[url_foto] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_foto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mensajes_Chat]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensajes_Chat](
	[id_mensaje] [int] IDENTITY(1,1) NOT NULL,
	[id_familia] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[contenido] [nvarchar](500) NOT NULL,
	[fecha_envio] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Miembros_Familia]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Miembros_Familia](
	[id_miembro] [int] IDENTITY(1,1) NOT NULL,
	[id_familia] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[tipo_miembro] [nvarchar](50) NOT NULL,
	[fecha_ingreso] [datetime] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_miembro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario_destino] [int] NOT NULL,
	[titulo] [nvarchar](100) NULL,
	[cuerpo] [nvarchar](255) NULL,
	[tipo] [nvarchar](50) NULL,
	[id_referencia] [int] NULL,
	[leido] [bit] NULL,
	[fecha_creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provisiones_Alimento]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provisiones_Alimento](
	[id_provision] [int] IDENTITY(1,1) NOT NULL,
	[id_familia] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[cantidad_cenas] [int] NOT NULL,
	[comentario] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_provision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[id_post] [int] IDENTITY(1,1) NOT NULL,
	[id_familia] [int] NULL,
	[id_usuario] [int] NOT NULL,
	[categoria_post] [nvarchar](50) NOT NULL,
	[mensaje] [nvarchar](500) NULL,
	[fecha_publicacion] [datetime] NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[activo] [bit] NOT NULL,
	[url_imagen] [nvarchar](max) NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[id_aprobador] [int] NULL,
	[fecha_aprobacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes_Familia]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes_Familia](
	[id_solicitud] [int] IDENTITY(1,1) NOT NULL,
	[id_familia] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[tipo_solicitud] [nvarchar](50) NOT NULL,
	[estado] [nvarchar](50) NOT NULL,
	[fecha_solicitud] [datetime] NOT NULL,
	[fecha_respuesta] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 06/01/2026 12:38:12 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[apellido] [nvarchar](100) NOT NULL,
	[correo] [nvarchar](150) NOT NULL,
	[contrasena] [nvarchar](255) NOT NULL,
	[foto_perfil] [nvarchar](255) NULL,
	[estado] [nvarchar](50) NOT NULL,
	[id_rol] [int] NOT NULL,
	[session_token] [nvarchar](255) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[activo] [bit] NOT NULL,
	[tipo_usuario] [nvarchar](20) NOT NULL,
	[matricula] [int] NULL,
	[num_empleado] [int] NULL,
	[carrera] [nvarchar](120) NULL,
	[fecha_nacimiento] [date] NULL,
	[telefono] [nvarchar](25) NULL,
	[direccion] [nvarchar](250) NULL,
	[residencia] [nvarchar](50) NULL,
	[fcm_token] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[Usuarios] ON 


SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Agenda_EstadoFecha]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Agenda_EstadoFecha] ON [dbo].[Agenda_Actividades]
(
	[estado_publicacion] ASC,
	[fecha_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Detalle_Provision_Uniq]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Detalle_Provision_Uniq] ON [dbo].[Detalle_Provision]
(
	[id_provision] ASC,
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstadosUsuarioActivo]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstadosUsuarioActivo] ON [dbo].[Estados_Alumno]
(
	[id_usuario] ASC,
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Familias_Mama]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Familias_Mama] ON [dbo].[Familias_EDI]
(
	[mama_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Familias_Papa]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Familias_Papa] ON [dbo].[Familias_EDI]
(
	[papa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Fotos_Post]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Fotos_Post] ON [dbo].[Fotos_Publicacion]
(
	[id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mensajes_Familia]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Mensajes_Familia] ON [dbo].[Mensajes_Chat]
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Mensajes_Usuario]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Mensajes_Usuario] ON [dbo].[Mensajes_Chat]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Miembros_Usuario]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Miembros_Usuario] ON [dbo].[Miembros_Familia]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Miembros_FamiliaUsuario]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Miembros_FamiliaUsuario] ON [dbo].[Miembros_Familia]
(
	[id_familia] ASC,
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Prov_FamiliaFecha]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Prov_FamiliaFecha] ON [dbo].[Provisiones_Alimento]
(
	[id_familia] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Publicaciones_Familia]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Publicaciones_Familia] ON [dbo].[Publicaciones]
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Publicaciones_Usuario]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Publicaciones_Usuario] ON [dbo].[Publicaciones]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solicitudes_Familia]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_Familia] ON [dbo].[Solicitudes_Familia]
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solicitudes_Usuario]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_Usuario] ON [dbo].[Solicitudes_Familia]
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__2A586E0B9055800E]    Script Date: 06/01/2026 12:38:12 p. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Correo]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_Correo] ON [dbo].[Usuarios]
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Usuarios_idRol]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_idRol] ON [dbo].[Usuarios]
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_SessionToken]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_SessionToken] ON [dbo].[Usuarios]
(
	[session_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_TipoUsuario]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Usuarios_TipoUsuario] ON [dbo].[Usuarios]
(
	[tipo_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Usuarios_Matricula]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Usuarios_Matricula] ON [dbo].[Usuarios]
(
	[matricula] ASC
)
WHERE ([matricula] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Usuarios_NumEmpleado]    Script Date: 06/01/2026 12:38:12 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Usuarios_NumEmpleado] ON [dbo].[Usuarios]
(
	[num_empleado] ASC
)
WHERE ([num_empleado] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agenda_Actividades] ADD  DEFAULT (N'Programada') FOR [estado_publicacion]
GO
ALTER TABLE [dbo].[Agenda_Actividades] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Agenda_Actividades] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Agenda_Actividades] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Agenda_Actividades] ADD  DEFAULT ((0)) FOR [notificacion_enviada]
GO
ALTER TABLE [dbo].[Cat_Estados] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Cat_Estados] ADD  DEFAULT ('#13436B') FOR [color]
GO
ALTER TABLE [dbo].[Detalle_Provision] ADD  DEFAULT ((0)) FOR [asistio]
GO
ALTER TABLE [dbo].[Detalle_Provision] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Estados_Alumno] ADD  DEFAULT (getdate()) FOR [fecha_inicio]
GO
ALTER TABLE [dbo].[Estados_Alumno] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Estados_Alumno] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Familias_EDI] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Familias_EDI] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Familias_EDI] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Fotos_Publicacion] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Mensajes_Chat] ADD  DEFAULT (getdate()) FOR [fecha_envio]
GO
ALTER TABLE [dbo].[Mensajes_Chat] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Mensajes_Chat] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Miembros_Familia] ADD  DEFAULT (getdate()) FOR [fecha_ingreso]
GO
ALTER TABLE [dbo].[Miembros_Familia] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Miembros_Familia] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT ((0)) FOR [leido]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Provisiones_Alimento] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Provisiones_Alimento] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT (getdate()) FOR [fecha_publicacion]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT (N'Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Publicaciones] ADD  DEFAULT ('POST') FOR [tipo]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Solicitudes_Familia] ADD  DEFAULT (N'Pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[Solicitudes_Familia] ADD  DEFAULT (getdate()) FOR [fecha_solicitud]
GO
ALTER TABLE [dbo].[Solicitudes_Familia] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Solicitudes_Familia] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'Activo') FOR [estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (N'ALUMNO') FOR [tipo_usuario]
GO
ALTER TABLE [dbo].[Detalle_Provision]  WITH CHECK ADD  CONSTRAINT [FK_DetProv_Prov] FOREIGN KEY([id_provision])
REFERENCES [dbo].[Provisiones_Alimento] ([id_provision])
GO
ALTER TABLE [dbo].[Detalle_Provision] CHECK CONSTRAINT [FK_DetProv_Prov]
GO
ALTER TABLE [dbo].[Detalle_Provision]  WITH CHECK ADD  CONSTRAINT [FK_DetProv_Usu] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Detalle_Provision] CHECK CONSTRAINT [FK_DetProv_Usu]
GO
ALTER TABLE [dbo].[Estados_Alumno]  WITH CHECK ADD  CONSTRAINT [FK_Estados_Alumno_Cat] FOREIGN KEY([id_cat_estado])
REFERENCES [dbo].[Cat_Estados] ([id_cat_estado])
GO
ALTER TABLE [dbo].[Estados_Alumno] CHECK CONSTRAINT [FK_Estados_Alumno_Cat]
GO
ALTER TABLE [dbo].[Estados_Alumno]  WITH CHECK ADD  CONSTRAINT [FK_Estados_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Estados_Alumno] CHECK CONSTRAINT [FK_Estados_Usuario]
GO
ALTER TABLE [dbo].[Familias_EDI]  WITH CHECK ADD  CONSTRAINT [FK_Familias_Mama] FOREIGN KEY([mama_id])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Familias_EDI] CHECK CONSTRAINT [FK_Familias_Mama]
GO
ALTER TABLE [dbo].[Familias_EDI]  WITH CHECK ADD  CONSTRAINT [FK_Familias_Papa] FOREIGN KEY([papa_id])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Familias_EDI] CHECK CONSTRAINT [FK_Familias_Papa]
GO
ALTER TABLE [dbo].[Fotos_Publicacion]  WITH CHECK ADD  CONSTRAINT [FK_Fotos_Publicacion] FOREIGN KEY([id_post])
REFERENCES [dbo].[Publicaciones] ([id_post])
GO
ALTER TABLE [dbo].[Fotos_Publicacion] CHECK CONSTRAINT [FK_Fotos_Publicacion]
GO
ALTER TABLE [dbo].[Mensajes_Chat]  WITH CHECK ADD  CONSTRAINT [FK_Msg_Familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[Familias_EDI] ([id_familia])
GO
ALTER TABLE [dbo].[Mensajes_Chat] CHECK CONSTRAINT [FK_Msg_Familia]
GO
ALTER TABLE [dbo].[Mensajes_Chat]  WITH CHECK ADD  CONSTRAINT [FK_Msg_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Mensajes_Chat] CHECK CONSTRAINT [FK_Msg_Usuario]
GO
ALTER TABLE [dbo].[Miembros_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Miembros_Familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[Familias_EDI] ([id_familia])
GO
ALTER TABLE [dbo].[Miembros_Familia] CHECK CONSTRAINT [FK_Miembros_Familia]
GO
ALTER TABLE [dbo].[Miembros_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Miembros_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Miembros_Familia] CHECK CONSTRAINT [FK_Miembros_Usuario]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_Notificaciones_Usuario] FOREIGN KEY([id_usuario_destino])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK_Notificaciones_Usuario]
GO
ALTER TABLE [dbo].[Provisiones_Alimento]  WITH CHECK ADD  CONSTRAINT [FK_Prov_Familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[Familias_EDI] ([id_familia])
GO
ALTER TABLE [dbo].[Provisiones_Alimento] CHECK CONSTRAINT [FK_Prov_Familia]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[Familias_EDI] ([id_familia])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Familia]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Usuario]
GO
ALTER TABLE [dbo].[Solicitudes_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Familia] FOREIGN KEY([id_familia])
REFERENCES [dbo].[Familias_EDI] ([id_familia])
GO
ALTER TABLE [dbo].[Solicitudes_Familia] CHECK CONSTRAINT [FK_Solicitudes_Familia]
GO
ALTER TABLE [dbo].[Solicitudes_Familia]  WITH CHECK ADD  CONSTRAINT [FK_Solicitudes_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Solicitudes_Familia] CHECK CONSTRAINT [FK_Solicitudes_Usuario]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Roles] ([id_rol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Agenda_Actividades]  WITH CHECK ADD  CONSTRAINT [CK_Agenda_Activo] CHECK  (([activo]=(1) OR [activo]=(0)))
GO
ALTER TABLE [dbo].[Agenda_Actividades] CHECK CONSTRAINT [CK_Agenda_Activo]
GO
ALTER TABLE [dbo].[Agenda_Actividades]  WITH CHECK ADD  CONSTRAINT [CK_Agenda_Estado] CHECK  (([estado_publicacion]=N'Finalizada' OR [estado_publicacion]=N'Publicada' OR [estado_publicacion]=N'Programada'))
GO
ALTER TABLE [dbo].[Agenda_Actividades] CHECK CONSTRAINT [CK_Agenda_Estado]
GO
ALTER TABLE [dbo].[Detalle_Provision]  WITH CHECK ADD  CONSTRAINT [CK_DetProv_Asistio] CHECK  (([asistio]=(1) OR [asistio]=(0)))
GO
ALTER TABLE [dbo].[Detalle_Provision] CHECK CONSTRAINT [CK_DetProv_Asistio]
GO
ALTER TABLE [dbo].[Estados_Alumno]  WITH CHECK ADD  CONSTRAINT [CK_Estados_Activo] CHECK  (([activo]=(1) OR [activo]=(0)))
GO
ALTER TABLE [dbo].[Estados_Alumno] CHECK CONSTRAINT [CK_Estados_Activo]
GO
ALTER TABLE [dbo].[Familias_EDI]  WITH CHECK ADD  CONSTRAINT [CK_Familias_Activo] CHECK  (([activo]=(1) OR [activo]=(0)))
GO
ALTER TABLE [dbo].[Familias_EDI] CHECK CONSTRAINT [CK_Familias_Activo]
GO
ALTER TABLE [dbo].[Familias_EDI]  WITH CHECK ADD  CONSTRAINT [CK_FamiliasEDI_DireccionExterna] CHECK  (([residencia]=N'Externa' AND [direccion] IS NOT NULL AND ltrim(rtrim([direccion]))<>N'' OR [residencia]=N'Interna' AND ([direccion] IS NULL OR ltrim(rtrim([direccion]))=N'')))
GO
ALTER TABLE [dbo].[Familias_EDI] CHECK CONSTRAINT [CK_FamiliasEDI_DireccionExterna]
GO
ALTER TABLE [dbo].[Familias_EDI]  WITH CHECK ADD  CONSTRAINT [CK_FamiliasEDI_Residencia] CHECK  (([residencia]=N'Externa' OR [residencia]=N'Interna'))
GO
ALTER TABLE [dbo].[Familias_EDI] CHECK CONSTRAINT [CK_FamiliasEDI_Residencia]
GO
ALTER TABLE [dbo].[Mensajes_Chat]  WITH CHECK ADD  CONSTRAINT [CK_Msg_Activo] CHECK  (([activo]=(1) OR [activo]=(0)))
GO
ALTER TABLE [dbo].[Mensajes_Chat] CHECK CONSTRAINT [CK_Msg_Activo]
GO
ALTER TABLE [dbo].[Miembros_Familia]  WITH CHECK ADD  CONSTRAINT [CK_Miembros_Activo] CHECK  (([activo]=(1) OR [activo]=(0)))
GO
ALTER TABLE [dbo].[Miembros_Familia] CHECK CONSTRAINT [CK_Miembros_Activo]
GO
ALTER TABLE [dbo].[Provisiones_Alimento]  WITH CHECK ADD  CONSTRAINT [CK_Prov_Activo] CHECK  (([activo]=(1) OR [activo]=(0)))
GO
ALTER TABLE [dbo].[Provisiones_Alimento] CHECK CONSTRAINT [CK_Prov_Activo]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [CK_Publicaciones_Activo] CHECK  (([activo]=(1) OR [activo]=(0)))
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [CK_Publicaciones_Activo]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [CK_Publicaciones_Categoria] CHECK  (([categoria_post]=N'Institucional' OR [categoria_post]=N'Familiar'))
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [CK_Publicaciones_Categoria]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [CK_Publicaciones_Estado] CHECK  (([estado]=N'Rechazada' OR [estado]=N'Aprobada' OR [estado]=N'Pendiente' OR [estado]=N'Publicado'))
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [CK_Publicaciones_Estado]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [CK_Roles_Activo] CHECK  (([activo]=(1) OR [activo]=(0)))
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [CK_Roles_Activo]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [CK_Roles_NombreRol] CHECK  (([nombre_rol]=N'HijoSanguineo' OR [nombre_rol]=N'HijoEDI' OR [nombre_rol]=N'MamaEDI' OR [nombre_rol]=N'PapaEDI' OR [nombre_rol]=N'Admin'))
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [CK_Roles_NombreRol]
GO
ALTER TABLE [dbo].[Solicitudes_Familia]  WITH CHECK ADD  CONSTRAINT [CK_Solicitudes_Activo] CHECK  (([activo]=(1) OR [activo]=(0)))
GO
ALTER TABLE [dbo].[Solicitudes_Familia] CHECK CONSTRAINT [CK_Solicitudes_Activo]
GO
ALTER TABLE [dbo].[Solicitudes_Familia]  WITH CHECK ADD  CONSTRAINT [CK_Solicitudes_Estado] CHECK  (([estado]=N'Rechazada' OR [estado]=N'Aceptada' OR [estado]=N'Pendiente'))
GO
ALTER TABLE [dbo].[Solicitudes_Familia] CHECK CONSTRAINT [CK_Solicitudes_Estado]
GO
ALTER TABLE [dbo].[Solicitudes_Familia]  WITH CHECK ADD  CONSTRAINT [CK_Solicitudes_Tipo] CHECK  (([tipo_solicitud]=N'Invitación' OR [tipo_solicitud]=N'Solicitud'))
GO
ALTER TABLE [dbo].[Solicitudes_Familia] CHECK CONSTRAINT [CK_Solicitudes_Tipo]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Activo] CHECK  (([activo]=(1) OR [activo]=(0)))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Activo]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_CorreoFormato] CHECK  (([correo] like N'%_@_%._%'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_CorreoFormato]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_DireccionResidencia_v2] CHECK  (([residencia]='Interna' AND [direccion] IS NULL OR [residencia]='Externa' AND [direccion] IS NOT NULL OR [residencia] IS NULL))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_DireccionResidencia_v2]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_FechaNac] CHECK  (([fecha_nacimiento] IS NULL OR [fecha_nacimiento]<=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_FechaNac]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Idents] CHECK  (([matricula] IS NOT NULL AND [num_empleado] IS NULL OR [matricula] IS NULL AND [num_empleado] IS NOT NULL OR [matricula] IS NULL AND [num_empleado] IS NULL))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Idents]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Residencia_v2] CHECK  (([residencia] IS NULL OR ([residencia]='Externa' OR [residencia]='Interna')))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Residencia_v2]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_TelefonoLen] CHECK  (([telefono] IS NULL OR len([telefono])>=(7) AND len([telefono])<=(20)))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_TelefonoLen]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [CK_Usuarios_Tipo] CHECK  (([tipo_usuario]=N'EXTERNO' OR [tipo_usuario]=N'EMPLEADO' OR [tipo_usuario]=N'ALUMNO'))
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [CK_Usuarios_Tipo]
GO

CREATE TABLE Publicaciones_Likes (
    id_like INT IDENTITY(1,1) PRIMARY KEY,
    id_post INT NOT NULL,
    id_usuario INT NOT NULL,
    created_at DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (id_post) REFERENCES Publicaciones(id_post),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario)
);

CREATE TABLE Publicaciones_Comentarios (
    id_comentario INT IDENTITY(1,1) PRIMARY KEY,
    id_post INT NOT NULL,
    id_usuario INT NOT NULL,
    contenido NVARCHAR(500) NOT NULL,
    activo BIT DEFAULT 1,
    created_at DATETIME DEFAULT GETDATE(),
    FOREIGN KEY (id_post) REFERENCES Publicaciones(id_post),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario)
);
GO


ALTER TABLE [dbo].[Agenda_Actividades]
ADD [dias_anticipacion] INT DEFAULT 3 NOT NULL; 
GO

SELECT id_actividad, titulo, estado_publicacion 
FROM dbo.Agenda_Actividades
WHERE estado_publicacion NOT IN ('Finalizada', 'Publicada', 'Programada');


CREATE TABLE [dbo].[Chat_Salas](
	[id_sala] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[nombre] [nvarchar](100) NULL, 
	[tipo] [nvarchar](20) NOT NULL,
	[created_at] [datetime] DEFAULT GETDATE(),
	[activo] [bit] DEFAULT 1
);
GO


CREATE TABLE [dbo].[Chat_Participantes](
	[id_participante] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[id_sala] [int] NOT NULL,
	[id_usuario] [int] NOT NULL, 
	[es_admin] [bit] DEFAULT 0,  
	[joined_at] [datetime] DEFAULT GETDATE(),
    FOREIGN KEY (id_sala) REFERENCES Chat_Salas(id_sala),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario)
);
GO


CREATE TABLE [dbo].[Chat_Mensajes](
	[id_mensaje] [int] IDENTITY(1,1) NOT NULL PRIMARY KEY,
	[id_sala] [int] NOT NULL,
	[id_usuario] [int] NOT NULL, 
	[mensaje] [nvarchar](max) NOT NULL,
	[tipo_mensaje] [nvarchar](20) DEFAULT 'TEXTO', 
	[leido] [bit] DEFAULT 0, 
	[created_at] [datetime] DEFAULT GETDATE(),
    FOREIGN KEY (id_sala) REFERENCES Chat_Salas(id_sala),
    FOREIGN KEY (id_usuario) REFERENCES Usuarios(id_usuario)
);
GO


CREATE INDEX IX_Participantes_Usuario ON Chat_Participantes(id_usuario);
CREATE INDEX IX_Mensajes_Sala ON Chat_Mensajes(id_sala);


GO


IF NOT EXISTS (SELECT * FROM Chat_Salas WHERE nombre = 'Comunidad de Padres')
BEGIN
    INSERT INTO Chat_Salas (nombre, tipo, activo) 
    VALUES ('Comunidad de Padres', 'GRUPAL', 1);
END

DECLARE @IdSalaPadres int = (SELECT TOP 1 id_sala FROM Chat_Salas WHERE nombre = 'Comunidad de Padres');


IF NOT EXISTS (SELECT * FROM Chat_Participantes WHERE id_sala = @IdSalaPadres AND id_usuario = 1)
BEGIN
    INSERT INTO Chat_Participantes (id_sala, id_usuario, es_admin)
    VALUES (@IdSalaPadres, 1, 1); 
END

INSERT INTO Chat_Participantes (id_sala, id_usuario, es_admin)
SELECT 
    @IdSalaPadres, 
    u.id_usuario, 
    0 
FROM Usuarios u
JOIN Roles r ON u.id_rol = r.id_rol
WHERE r.nombre_rol IN ('Padre', 'Madre', 'Tutor', 'PapaEDI', 'MamaEDI')
AND NOT EXISTS (
    SELECT 1 FROM Chat_Participantes cp 
    WHERE cp.id_sala = @IdSalaPadres AND cp.id_usuario = u.id_usuario
);

SELECT 'Grupo creado y padres agregados exitosamente' as Mensaje;